.btn-custom-color {
  background-color: #f35508 !important;
  border-color: #f35508 !important;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-custom-color:hover {
  background-color: #d84500 !important; /* Cor mais clara para quando passar o mouse */
  border-color: #d84500 !important;
}

.custom-button {
  border-radius: 10px;
  margin: 0.2rem;
  padding: 6px 12px; /* Adjust padding values for the desired button size */
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.custom-button:hover {
  color: white;
  transform: scale(1.05);
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 220px;
  z-index: 2;
}
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.about-text h2 {
  color: white;
  border-radius: 10px;
}

.about-text h2 span {
  color: #f35508;
  font-weight: 600;
}

.about-text p {
  color: white;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    bottom: 370px;
  }
  .carousel-caption p {
    width: 100%;
  }
  .card {
    margin-bottom: 30px;
  }
  .img-area img {
    width: 100%;
  }
}
.fw-semibold {
  font-weight: 600;
}

.text-white {
  color: white;
}

.rounded-text {
  font-size: 38px; /* Adjust the font size as needed */
  border-radius: 10px; /* Adjust the border-radius as needed */
  display: inline-block;
}

.button {
  text-decoration: none;
}
